body{
　　background-color: lightyellow;
}
.header {
　　height: 300px;
　　/* background-color: yellow; */
}
.topimage{
　　width: 100%;
　　height: 300px; background: url("img/1.jpg");
　　background-size: cover;
　　background-position: 50% 10%;
}
.footer{
　　height: 200px;
　　background: black;
　　color: #fff;
　　clear: both;
}
.main-contents, .left-navi, .right-navi {
　　height: 400px;
}
.main-contents {
　　background-color: red;
　　color: #fff;
　　float: left;
　　width: 80%;
}
.left-navi {
　　background-color: blue;
　　color: #fff;
　　width: 20%;
　　float: right;
}
.right-navi {
　　background-color: green;
　　color: #fff;
　　float: right;
　　width: 20%;
}
.main{
　　width: 80%;
　　float: right;
}

@media screen and (max-width: 600px){
　.main, .left-navi,.main-contents, .right-navi{
　　width: 100%;
　}
}
